.d10{

    background-color: black;
  
    color: aliceblue;
    text-align: center;
    
  }
  .container-fluide{
    background-image:url(./img/1519801644161.jpg) ;
    height: 350px;
    background-size: cover;
    background-color: black;
    width: 100%;

}
  * {box-sizing: border-box}
        
        /* .container {
          width: 100%;
          background-color: #ddd;
          padding-left: -15px;
          padding-right: -15px;

        } */
        
        .skills {
          text-align: right;
          padding-top: 10px;
          padding-bottom: 10px;
          color: white;
        }
        
        .html {width: 90%; background-color: #04AA6D;}
        .css {width: 80%; background-color: #2196F3;}
        .js {width: 65%; background-color: #f44336;}
        .php {width: 60%; background-color: #808080;}
 .d1{
border:rgb(103, 137, 131) 10px solid;
width: 50%;
margin-left: 10%;
padding: 20px;
 }
 body{

    
 }
 form{
    border: 5px solid rgb(103, 137, 131);
    
margin-left: 10%;
margin-right: 40%;
padding: 2%;
 }
 .nav-bar{

    background-color: rgb(240, 233, 210);
}