*{
  box-sizing: border-box;
  font-size:large
  
}
body{
  margin: 0%;
}
.container-fluide{
background-image:url(./img/1212.jpg) ;
height: 350px;
background-size: cover;
background-color: black;
width: 100%;
}

ul a{
color: rgb(0, 0, 0);

}



#img{
margin-top: 6%;
margin-left: 48%;
}

.d1{
  color: white;
  position: absolute;
  left: 42%;
  top: 28%;
}
.d2{
  color: white;
  position: absolute;
  left: 46%;
  top: 35%;




}
.d3{
  color: black;

  text-align: center;
  padding: 6%;
}
.d3 p{
  margin: 0%;
}




.row{
  display: flex;
  text-align:center;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.col{
  text-align: justify;
  width: 250px;
  height: 150px;
}
.d4{
  
text-align: center;
  color:black;
  background-color: rgb(103, 137, 131);
}


}
.container{
border: 2px solid black;



 
}
.d5{
  text-align: center;
  color: black;
  background-color: rgb(103, 137, 131);
}
.d6{
position: relative;
margin: 300px;
}

.d7{ text-align: center;
  color:black;
  background-color: rgb(103, 137, 131);
}
  
.d10{

  background-color:rgb(24, 29, 49);

  color: aliceblue;
  text-align: center;
  
}

/* @media screen and (max-width:1000px) {
  .d2,.d1{position: absolute; left: 45%;}
  #img{position: absolute;left:200px;}
  .d2{position: absolute;top: 290px;}
  *{font-size: xx-small; }
  .c3,.c2,.c1{width: 50px; height: 50px; } */


.d6{position: relative; right: 120px;}
}


span{

}

  


